/* Example 1 */
p {
  font-family: "Times New Roman", Times, serif;
}

/* Example 2 */
p {
  font-family: Arial, Helvetica, sans-serif;
}

/* Example 3 */
p {
  font-family: "Lucida Console", "Courier New", monospace;
}

